
    
    <div class="container">
        <h2>Connectez-vous</h2>
        <form  action="connexion"  method="post">
            <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-centrol" id="email" placeholder="Entrez vottre email">
            </div>
            <div class="form-group">
                <label for="password"></label>
                <input type="password"  style="background: rgba(0, 0, 0, 0.31); border: none;" class="form-centrol" id="password"  placeholder="Entrez votre mot de passe">
            </div>
            <div class="form-group">
                <input type="checkbox">
            </div>
            <button type="submit" class="btn btn-primary">
                connecter
            </a></button>
            <p class="link">vous n’avez pas de compte ?<br>
                <a href="formulaire.html">inscrivez</a>-vous ici
            </p>
            
        </form>
    </div>