<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Messages</title>
</head>
<body>
  <h1>Messages</h1>
  <ul>
    
    <li v-for="message dans message">
      <p>{{ message.texte }}</p>
      <p>{{ message.auteur }}</p>
      <p>{{ message.destinataire }}</p>
      <p>{{ message.date }}</p>
    </li>
  </ul>
</body>
</html>