

<!DOCTYPE html>
<html lang="en">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <title>Document</title>
    <link rel="stylesheet" href="nn.css">
</head>
<body>
    


<div class="login">
  <marquee up ><h2>
    Bievenue !
  </h2></marquee>
  <h2 class="active">se seconnecter </h2>
    
  <form>
   
    

    <input type="text" class="text"  name="email">
     <span>email</span>

    <br>
    
    <br>

    <input type="password" class="text" name="password">
    <span>password</span>
    <br>

    <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
    <label for="checkbox-1-1">Keep me sign in </label>
    
    <button class="signin">
      Sign In
    </button>


    <hr>
    <a href="homme">Forgot Password?</a>
  </form>

</div>
</body>
</html>